.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rproj file
*.Rproj

# Output
Output/
Paper/Graphs/

# Data
Comparison_between_climatic_zones/Data/

# Paper folder 
Paper/

# Powell Center
USGS_Powell_center/

# Docs
Docs/

# Old
Old_comparison_climatic_zones